---
import Layout from '../layouts/Layout.astro'
import Banner from '../components/ui/Banner.astro'
---

<Layout title='Adrian Coll - Portfolio'>
  <Banner />

  <main
    class='grid min-h-full place-items-center bg-white py-24 px-6 sm:py-32 lg:px-8'>
    <div class='text-center'>
      <p class='text-base font-semibold text-[#9089FC]'>
        Hey! <span class='wave'>👋</span>
      </p>
      <h1
        class='mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl'>
        Página en desarrollo
      </h1>
      <p class='mt-6 text-base leading-7 text-gray-600'>
        Lo siento si tus expectativas eran altas, pero siempre puedes echar un
        ojo a mi blog.
      </p>
      <div class='mt-10 flex items-center justify-center gap-x-6'>
        <a
          href='https://blog.adriancoll.dev'
          class='rounded-md bg-[#9089FC] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-[#FF80B5] transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
          >Ver blog</a
        >
        <a
          href='https://www.linkedin.com/in/adriancoll/'
          class='text-sm font-semibold text-gray-900'
          >Ver LinkedIn <span aria-hidden='true'>&rarr;</span></a
        >
      </div>
    </div>
  </main>
</Layout>

<style>
  span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(12deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(9deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
